.footer {
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    background: white;
}

.box {
    display: flex;
}

.link {
    color: #000;
    font-size: 20px;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30px;
}

.caken {
    color: #000;
    font-size: 20px;

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}