@import "../../styles//mixin";
$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1239px;

.title {
  font-size: 100px;

  line-height: 120px;
  letter-spacing: -4px;
  text-transform: uppercase;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 28px;

    line-height: 32px;
    letter-spacing: -1.12px;
  }
  @media (max-width: $small-screen) {
    font-size: 36px;

    line-height: 40px;
    letter-spacing: -1.44px;
  }
}

.links {
  padding: 162px 0;
  text-align: center;

  width: 33.33%;
  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    padding: 95px 0;
  }
  @media (max-width: $small-screen) {
    padding: 55px 0;
  }

  @include backFoto;
}

.section__link {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
}
.name {
  color: #fefefe;

  font-size: 49px;
  line-height: 78px;
  letter-spacing: -2.6px;
  text-transform: uppercase;

  @media (min-width: $medium-screen) and (max-width: $large-screen) {
    font-size: 15.525px;

    line-height: 17.25px;
    letter-spacing: -0.621px;
  }
  @media (max-width: $small-screen) {
    font-size: 10.8px;

    line-height: 12px;
    letter-spacing: -0.432px;
  }
}
