@import "../../styles//mixin";

.title {
  font-size: 100px;

  line-height: 120px; /* 120% */
  letter-spacing: -4px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.section {
  padding: 154px 0 0;
  &__title {
    display: flex;
    justify-content: center;
  }
}

.links {
  padding: 260px 0 300px;
  text-align: center;
  height: 720px;
  width: 50%;
  @include backFoto;
}
.section__link {
  display: flex;
  flex-wrap: wrap;
}
.name {
  color: #fefefe;

  font-size: 100px;

  line-height: 120px; /* 120% */
  letter-spacing: -4px;
  text-transform: uppercase;
}
.date {
  color: #fefefe;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  text-transform: capitalize;
}
