@import "../../styles//mixin";

.title {
  font-size: 100px;

  line-height: 120px; /* 120% */
  letter-spacing: -4px;
  text-transform: uppercase;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.links {
  padding: 162px 0;
  text-align: center;

  width: 33.33%;

  @include backFoto;
}

.section__link {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
}
.name {
  color: #fefefe;

  font-size: 49px;
  line-height: 78px; /* 120% */
  letter-spacing: -2.6px;
  text-transform: uppercase;
}
