.box {

    display: flex;
    flex-wrap: wrap;
    z-index: -8;
}

.support {

    margin-top: 20px;
    position: absolute;
    display: flex;
    left: 55%;

    &__btn {

        margin-right: 35px;
        border-radius: 10px;
        background: #000;
        color: #FFF;
        font-size: 24px;
        background-color: #000;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 8px 35px;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.content {
    padding-top: 350px;
    color: #FEFEFE;
    text-align: center;

    font-size: 100px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: 50%;
    height: 777px;
    background: rgba(0, 0, 0, 0.20);

    &_img {


        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./img/Card_Merch.jpg");
        background-position: 50% 50%;
        background-size: cover;

        &__gallery {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./img/Card_Gallery.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }

        &__crew {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./img/Card_Crew.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }

        &__about {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./img/Card_About.jpg");
            background-position: 50% 50%;
            background-size: cover;
        }
    }


}

.projects {
    padding-top: 350px;
    color: #FEFEFE;
    text-align: center;

    font-size: 100px;
    display: grid;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: 50%;
    height: 777px;
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 777px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./img/Card_Projects.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

// .projects:after {

//     content: 'Our sponsors:';
//     color: #FFF;
//     font-size: 25px;
//     margin-top: 250px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: normal;
//     background: url("./img/Comeback.png")
// }

.donate {
    width: 100%;
    background: #D4D4D1;

    &__fond {
        margin-right: 30px;
    }

    >p {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        margin-right: 30px;
    }

    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}