$small-screen: 767px;
$medium-screen: 768px;
$large-screen: 1440px;

.header {
  position: fixed;
  width: 336.038px;
  height: 91px;
  flex-shrink: 0;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
  margin-left: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 100;
  @media (min-width: $medium-screen) and (max-width: 1439px) {
    padding: 10px 25px 10px 15px;
    font-size: 14px;
    height: 64px;
    width: auto;
    margin-right: 10px;
  }
  @media (max-width: $small-screen) {
    position: absolute;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    width: 100vw;
  }
}

.container {
  position: relative;
}

.content {
  height: 0;
  position: absolute;
  width: 336.038px;
  z-index: -1;
  overflow: hidden;
  padding: 0 40px;
  @media (min-width: $medium-screen) and (max-width: 1439px) {
    margin-left: -15px;
    margin-top: 20px;
    width: auto;
  }
}

.visible {
  transition: height 0.5s ease-out;
  background: white;
  height: 390px;
  width: 336.038px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 35px 40px;
  z-index: 5;
  @media (min-width: $medium-screen) and (max-width: 1439px) {
    width: 233px;
  }
  @media (max-width: $small-screen) {
    width: 100vw;
  }
}

.list {
  > li {
    margin-bottom: 15px;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

.link {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 25px;

  &:hover,
  &.active {
    font-weight: 700;
  }
  &:focus {
    font-weight: 700;
  }
}
.img {
  @media (min-width: $medium-screen) and (max-width: 1439px) {
    width: 125px;
    height: 45px;
  }
}
