.title {
  font-size: 50px;
  text-align: center;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    cursor: pointer;
    margin-bottom: -4px;
  }
}

.teamMember {
  position: relative;
  list-style: none;
  cursor: pointer;

  .memberName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 36px;
    color: white;
    line-height: 42px;
    letter-spacing: -1.44px;
    text-transform: uppercase;

    text-align: flex-start;
    padding: 15px 25px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .memberLink {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    padding: 15px 25px;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
  }
  &:hover .memberLink {
    opacity: 1;
  }
  &:hover .memberName {
    opacity: 1;
  }
  &:focus .memberLink {
    opacity: 1;
  }
  &:focus .memberName {
    opacity: 1;
  }
}
